{
    "extension": [
        ".ts",
        ".tsx"
    ],
    "reporter": [
        "lcov",
        "text-summary",
        "html"
    ],
    "require": [
        "ts-node/register",
        "source-map-support/register"
    ]
}
